In [1]:
# load notebook details and inject API credentials (if available)
from edc import prepare; prepare("geodb-manage")

***Notebook Title***
GeoDB: Manage Datasets

***Notebook Description***
Euro Data Cube GeoDB: Manage Datasets


***Notebook Dependencies***
This notebook requires an active subscription to:
* EDC GeoDB

---------

*API credentials have automatically been injected for your active subscriptions.*

The following environment variables are now available:
* `SH_INSTANCE_ID`
* `SH_CLIENT_ID`
* `SH_CLIENT_SECRET`
* `SH_CLIENT_NAME`
* `GEODB_API_SERVER_URL`
* `GEODB_AUTH_CLIENT_ID`
* `GEODB_AUTH_AUD`
* `GEODB_AUTH_CLIENT_SECRET`
* `GEODB_API_SERVER_PORT`
* `GEODB_AUTH_DOMAIN`

-------------

## Manage Collections in your GeoDB

### Connecting to the GeoDB

In [2]:
from xcube_geodb.core.geodb import GeoDBClient

In [3]:
geodb = GeoDBClient()

In [4]:
# This will tell you what account the system currently uses
geodb.whoami

'geodb_0c0a0ef4-8d0d-4e70-b002-033c7cbb41fd'

In [5]:
# Lets get already existing collections
ds = geodb.get_collections()
ds

  table_name
0   land_use

### Creating collections

Once the connection has been established you will be able to create a collection. The collection will contain standard properties (fields) plus custom properties
which you can add at your disgretion. Please use [PostGreSQL type definitions](https://www.postgresql.org/docs/11/datatype.html). We recommend stying simple with
your data types as we have not tested every single type.

In [6]:
# geodb.drop_collection('land_use')

# Have a look at fiona feature schema
collections = {
        "land_use": 
        {
            "crs": 3794,
            "properties": 
            {
                "RABA_PID": "float", 
                "RABA_ID": "float", 
                "D_OD": "date"
            }
        }
    }


geodb.create_collections(collections)

{'collections': {'geodb_0c0a0ef4-8d0d-4e70-b002-033c7cbb41fd_land_use': {'crs': 3794,
                                                                         'properties': {'D_OD': 'date',
                                                                                        'RABA_ID': 'float',
                                                                                        'RABA_PID': 'float'}}}}

In [7]:
ds = geodb.get_collections()
ds

             table_name
0              land_use
1  geodb_0c0a0ef4-8d0d-

### Loading data into a dataset

Once the table has been created, you can load data into the dataset. The example below loads a shapefile. The attributes of the shapefile correspond to the dataset's properties.

In [8]:
import geopandas
gdf = geopandas.read_file(os.path.expanduser("~/.shared/notebooks/getting-started/data/sample/land_use.shp"))
gdf

,RABA_PID,RABA_ID,D_OD,geometry
0,4770326.0,1410,2019-03-26,"POLYGON ((453952.629 91124.177, 453952.696 911..."
1,4770325.0,1300,2019-03-26,"POLYGON ((453810.376 91150.199, 453812.552 911..."
2,2305689.0,7000,2019-02-25,"POLYGON ((456099.635 97696.070, 456112.810 976..."
3,2305596.0,1100,2019-02-25,"POLYGON ((455929.405 97963.785, 455933.284 979..."
4,2310160.0,1100,2019-03-11,"POLYGON ((461561.512 96119.256, 461632.114 960..."
...,...,...,...,...
9822,6253989.0,1600,2019-03-08,"POLYGON ((460637.334 96865.891, 460647.927 969..."
9823,6252044.0,1600,2019-03-26,"POLYGON ((459467.868 96839.686, 459467.770 968..."
9824,6245985.0,2000,2019-04-08,"POLYGON ((459488.998 94066.248, 459498.145 940..."
9825,6245986.0,2000,2019-02-20,"POLYGON ((459676.680 94000.000, 459672.469 939..."
9826,6245987.0,2000,2019-03-11,"POLYGON ((459690.580 94042.607, 459686.872 940..."

In [9]:
geodb.insert_into_collection('land_use', gdf)

Data inserted into land_use

In [10]:
geodb.get_collection('land_use', query="raba_id=eq.7000")

,id,created_at,modified_at,geometry,raba_pid,raba_id,d_od
0,19657,2020-05-18T08:11:17.715062+00:00,None,"POLYGON ((456099.635 97696.070, 456112.810 976...",2305689,7000,2019-02-25
1,22176,2020-05-18T08:11:17.715062+00:00,None,"POLYGON ((458591.057 95186.079, 458602.066 951...",3600556,7000,2019-01-05
2,19680,2020-05-18T08:11:17.715062+00:00,None,"POLYGON ((459898.930 100306.841, 459906.288 10...",2301992,7000,2019-04-06
3,27199,2020-05-18T08:11:17.715062+00:00,None,"POLYGON ((462269.994 97038.778, 462266.715 970...",4674866,7000,2019-03-20
4,19749,2020-05-18T08:11:17.715062+00:00,None,"POLYGON ((459591.248 92619.056, 459592.745 926...",2333229,7000,2019-02-20
...,...,...,...,...,...,...,...
379,29073,2020-05-18T08:11:17.715062+00:00,None,"POLYGON ((456523.670 94000.000, 456550.368 939...",6187993,7000,2019-03-13
380,29200,2020-05-18T08:11:17.715062+00:00,None,"POLYGON ((460793.279 94000.000, 460797.466 939...",6219403,7000,2019-02-21
381,29214,2020-05-18T08:11:17.715062+00:00,None,"POLYGON ((461750.000 98434.292, 461750.000 984...",6219602,7000,2019-03-20
382,29278,2020-05-18T08:11:17.715062+00:00,None,"POLYGON ((463628.912 97501.218, 463636.859 975...",6215237,7000,2019-03-20
383,29298,2020-05-18T08:11:17.715062+00:00,None,"POLYGON ((462450.205 94000.000, 462457.333 940...",6213419,7000,2019-03-21

### Delete from a Collection

In [11]:
geodb.delete_from_collection('land_use', query="raba_id=eq.7000")

Data from land_use deleted

In [12]:
geodb.get_collection('land_use', query="raba_id=eq.7000")

Empty DataFrame
Columns: [Empty Result]
Index: []

### Updating a Collection

In [13]:
geodb.get_collection('land_use', query="raba_id=eq.1300")

,id,created_at,modified_at,geometry,raba_pid,raba_id,d_od
0,19656,2020-05-18T08:11:17.715062+00:00,None,"POLYGON ((453810.376 91150.199, 453812.552 911...",4770325,1300,2019-03-26
1,9919,2020-05-18T07:57:40.617849+00:00,2020-05-18T07:57:43.934943+00:00,"POLYGON ((461723.552 99635.913, 461729.649 996...",2332405,1300,2000-01-01
2,9930,2020-05-18T07:57:40.617849+00:00,2020-05-18T07:57:43.934943+00:00,"POLYGON ((456100.880 96973.323, 456111.084 969...",2332420,1300,2000-01-01
3,22648,2020-05-18T08:11:17.715062+00:00,None,"POLYGON ((458519.781 93017.846, 458530.784 930...",4643283,1300,2019-01-11
4,19664,2020-05-18T08:11:17.715062+00:00,None,"POLYGON ((456547.427 91543.640, 456544.255 915...",2318555,1300,2019-03-14
...,...,...,...,...,...,...,...
2680,29420,2020-05-18T08:11:17.715062+00:00,None,"POLYGON ((458247.583 99746.065, 458245.202 997...",6268059,1300,2019-03-04
2681,29421,2020-05-18T08:11:17.715062+00:00,None,"POLYGON ((461932.283 90520.703, 461931.619 905...",6263561,1300,2019-04-01
2682,29452,2020-05-18T08:11:17.715062+00:00,None,"POLYGON ((457231.170 90902.256, 457234.861 909...",6264862,1300,2019-01-05
2683,29453,2020-05-18T08:11:17.715062+00:00,None,"POLYGON ((461378.845 91124.318, 461490.224 911...",6264865,1300,2019-02-21
2684,29475,2020-05-18T08:11:17.715062+00:00,None,"POLYGON ((457450.306 97213.244, 457490.521 972...",6263915,1300,2019-01-05

In [14]:
geodb.update_collection('land_use', query="raba_id=eq.1300", values={'d_od': '2000-01-01'})

land_use updated

In [15]:
geodb.get_collection('land_use', query="raba_id=eq.1300")

,id,created_at,modified_at,geometry,raba_pid,raba_id,d_od
0,9919,2020-05-18T07:57:40.617849+00:00,2020-05-18T08:11:22.848066+00:00,"POLYGON ((461723.552 99635.913, 461729.649 996...",2332405,1300,2000-01-01
1,19771,2020-05-18T08:11:17.715062+00:00,2020-05-18T08:11:22.848066+00:00,"POLYGON ((454637.692 96679.827, 454630.584 966...",2336101,1300,2000-01-01
2,22180,2020-05-18T08:11:17.715062+00:00,2020-05-18T08:11:22.848066+00:00,"POLYGON ((460531.574 92742.682, 460526.492 927...",5957238,1300,2000-01-01
3,21698,2020-05-18T08:11:17.715062+00:00,2020-05-18T08:11:22.848066+00:00,"POLYGON ((459601.292 99268.197, 459599.578 992...",4657846,1300,2000-01-01
4,25628,2020-05-18T08:11:17.715062+00:00,2020-05-18T08:11:22.848066+00:00,"POLYGON ((459500.000 95703.100, 459470.722 957...",6302937,1300,2000-01-01
...,...,...,...,...,...,...,...
2680,29419,2020-05-18T08:11:17.715062+00:00,2020-05-18T08:11:22.848066+00:00,"POLYGON ((458304.555 100146.103, 458306.726 10...",6268058,1300,2000-01-01
2681,29420,2020-05-18T08:11:17.715062+00:00,2020-05-18T08:11:22.848066+00:00,"POLYGON ((458247.583 99746.065, 458245.202 997...",6268059,1300,2000-01-01
2682,29421,2020-05-18T08:11:17.715062+00:00,2020-05-18T08:11:22.848066+00:00,"POLYGON ((461932.283 90520.703, 461931.619 905...",6263561,1300,2000-01-01
2683,29452,2020-05-18T08:11:17.715062+00:00,2020-05-18T08:11:22.848066+00:00,"POLYGON ((457231.170 90902.256, 457234.861 909...",6264862,1300,2000-01-01
2684,29453,2020-05-18T08:11:17.715062+00:00,2020-05-18T08:11:22.848066+00:00,"POLYGON ((461378.845 91124.318, 461490.224 911...",6264865,1300,2000-01-01

### Managing Properties of a Collection

In [16]:
geodb.get_collections()

             table_name
0              land_use
1  geodb_0c0a0ef4-8d0d-

In [17]:
geodb.get_properties('land_use')

  table_name  column_name                 data_type
0   land_use           id                   integer
1   land_use   created_at  timestamp with time zone
2   land_use  modified_at  timestamp with time zone
3   land_use     geometry              USER-DEFINED
4   land_use     raba_pid          double precision
5   land_use      raba_id          double precision
6   land_use         d_od                      date

In [18]:
geodb.add_property('land_use', "test_prop", 'integer')

Properties added

In [19]:
geodb.get_properties('land_use')

  table_name  column_name                 data_type
0   land_use           id                   integer
1   land_use   created_at  timestamp with time zone
2   land_use  modified_at  timestamp with time zone
3   land_use     geometry              USER-DEFINED
4   land_use     raba_pid          double precision
5   land_use      raba_id          double precision
6   land_use         d_od                      date

In [20]:
geodb.drop_property('land_use', 'test_prop')

Properties ['test_prop'] dropped from geodb_0c0a0ef4-8d0d-4e70-b002-033c7cbb41fd_land_use

In [21]:
geodb.get_properties('land_use')

  table_name  column_name                 data_type
0   land_use           id                   integer
1   land_use   created_at  timestamp with time zone
2   land_use  modified_at  timestamp with time zone
3   land_use     geometry              USER-DEFINED
4   land_use     raba_pid          double precision
5   land_use      raba_id          double precision
6   land_use         d_od                      date

In [22]:
geodb.add_properties('land_use', properties={'test1': 'integer', 'test2': 'date'})

Properties added

In [23]:
geodb.get_properties('land_use')

  table_name  column_name                 data_type
0   land_use           id                   integer
1   land_use   created_at  timestamp with time zone
2   land_use  modified_at  timestamp with time zone
3   land_use     geometry              USER-DEFINED
4   land_use     raba_pid          double precision
5   land_use      raba_id          double precision
6   land_use         d_od                      date

In [24]:
geodb.drop_properties('land_use', properties=['test1', 'test2'])

Properties ['test1', 'test2'] dropped from geodb_0c0a0ef4-8d0d-4e70-b002-033c7cbb41fd_land_use

In [25]:
geodb.get_properties('land_use')

  table_name  column_name                 data_type
0   land_use           id                   integer
1   land_use   created_at  timestamp with time zone
2   land_use  modified_at  timestamp with time zone
3   land_use     geometry              USER-DEFINED
4   land_use     raba_pid          double precision
5   land_use      raba_id          double precision
6   land_use         d_od                      date

In [26]:
geodb.drop_collection('land_use')

Collection ['geodb_0c0a0ef4-8d0d-4e70-b002-033c7cbb41fd_land_use'] deleted