In [1]:
from edc import print_info 
print_info("geodb-manage")

***Notebook Title***
GeoDB: Manage Datasets

***Notebook Description***
Euro Data Cube GeoDB: Manage Datasets


***Notebook Dependencies***
This notebook requires an active subscription to:
* EDC GeoDB

In [2]:
from edc import setup_environment_variables
setup_environment_variables()

API credentials have automatically been injected for your active subscriptions.
The following environment variables are now available:
* `GEODB_API_SERVER_PORT`, `GEODB_API_SERVER_URL`, `GEODB_AUTH_AUD`, `GEODB_AUTH_CLIENT_ID`, `GEODB_AUTH_CLIENT_SECRET`, `GEODB_AUTH_DOMAIN`

The following additional environment variables have been loaded from `~/custom.env`:
* `AWS_BUCKET`
* `DAPA_URL`
* `DB_HOST`, `DB_NAME`, `DB_PASSWORD`, `DB_USER`
* `OGC_EDC_URL`
* `REFERENCE_DATA`

In [3]:
from edc import check_compatibility
check_compatibility("user-0.22.3")

## Manage Collections in your GeoDB

### Connecting to the GeoDB

In [4]:
from xcube_geodb.core.geodb import GeoDBClient

In [5]:
geodb = GeoDBClient()

In [6]:
# If you are logged in, this will tell you what account the system currently uses
geodb.whoami

'geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04'

In [7]:
# Lets get already existing collections
ds = geodb.get_my_collections()
ds
ds[(ds.database == 'geodb_admin') & (ds.table_name == 'land_use')].table_name.count() == 1

False

### Creating collections

Once the connection has been established you will be able to create a collection. The collection will contain standard properties (fields) plus custom properties
which you can add at your disgretion. Please use [PostGreSQL type definitions](https://www.postgresql.org/docs/11/datatype.html). We recommend stying simple with
your data types as we have not tested every single type.

In [8]:
ds = geodb.get_my_collections()

if ds[(ds.database == geodb.whoami) & (ds.table_name == 'land_use')].table_name.count() == 0:
    # Have a look at fiona feature schema
    collections = {
            "land_use": 
            {
                "crs": 3794,
                "properties": 
                {
                    "RABA_PID": "float", 
                    "RABA_ID": "float", 
                    "D_OD": "date"
                }
            }
        }


    geodb.create_collections(collections)
    import geopandas
    import os
    gdf = geopandas.read_file(os.path.expanduser("~/.shared/notebooks/eurodatacube/notebooks/getting-started/data/sample/land_use.shp"))
    geodb.insert_into_collection('land_use', gdf)

In [9]:
ds = geodb.get_my_collections()
ds

                                         owner      database    table_name
0                                         anja          anja            E1
1                                         anja          anja         E10a1
2                                         anja          anja         E10a2
3                                         anja          anja           E11
4                                         anja          anja           E1a
..                                         ...           ...           ...
58                                 geodb_admin      phi_week    gran_chaco
59                                 geodb_admin        public      land_use
60                                geodb_ciuser  geodb_ciuser      land_use
61  geodb_d2c4722a-cc19-4ec1-b575-0cdb6876d4a7     lpis_iacs  land_use_slo
62  geodb_d2c4722a-cc19-4ec1-b575-0cdb6876d4a7     lpis_iacs      lpis_slo

[63 rows x 3 columns]

### Loading data into a dataset

Once the table has been created, you can load data into the dataset. The example below loads a shapefile. The attributes of the shapefile correspond to the dataset's properties.

In [10]:
import geopandas
import os
gdf = geopandas.read_file(os.path.expanduser("~/.shared/notebooks/eurodatacube/notebooks/getting-started/data/sample/land_use.shp"))
gdf

,RABA_PID,RABA_ID,D_OD,geometry
0,4770326.0,1410,2019-03-26,"POLYGON ((453952.629 91124.177, 453952.696 911..."
1,4770325.0,1300,2019-03-26,"POLYGON ((453810.376 91150.199, 453812.552 911..."
2,2305689.0,7000,2019-02-25,"POLYGON ((456099.635 97696.070, 456112.810 976..."
3,2305596.0,1100,2019-02-25,"POLYGON ((455929.405 97963.785, 455933.284 979..."
4,2310160.0,1100,2019-03-11,"POLYGON ((461561.512 96119.256, 461632.114 960..."
...,...,...,...,...
9822,6253989.0,1600,2019-03-08,"POLYGON ((460637.334 96865.891, 460647.927 969..."
9823,6252044.0,1600,2019-03-26,"POLYGON ((459467.868 96839.686, 459467.770 968..."
9824,6245985.0,2000,2019-04-08,"POLYGON ((459488.998 94066.248, 459498.145 940..."
9825,6245986.0,2000,2019-02-20,"POLYGON ((459676.680 94000.000, 459672.469 939..."
9826,6245987.0,2000,2019-03-11,"POLYGON ((459690.580 94042.607, 459686.872 940..."

In [11]:
geodb.insert_into_collection('land_use', gdf)

Processing rows from 0 to 9827

9827 rows inserted into land_use

In [12]:
geodb.get_collection('land_use', query="raba_id=eq.7000")

,id,created_at,modified_at,geometry,raba_pid,raba_id,d_od
0,49138,2020-12-15T11:01:52.113704+00:00,None,"POLYGON ((456099.635 97696.070, 456112.810 976...",2305689,7000,2019-02-25
1,49161,2020-12-15T11:01:52.113704+00:00,None,"POLYGON ((459898.930 100306.841, 459906.288 10...",2301992,7000,2019-04-06
2,49230,2020-12-15T11:01:52.113704+00:00,None,"POLYGON ((459591.248 92619.056, 459592.745 926...",2333229,7000,2019-02-20
3,49250,2020-12-15T11:01:52.113704+00:00,None,"POLYGON ((459013.303 100354.458, 459022.756 10...",2336738,7000,2019-03-15
4,49264,2020-12-15T11:01:52.113704+00:00,None,"POLYGON ((460851.200 93442.039, 460846.405 934...",6292562,7000,2019-02-21
...,...,...,...,...,...,...,...
379,58554,2020-12-15T11:01:52.113704+00:00,None,"POLYGON ((456523.670 94000.000, 456550.368 939...",6187993,7000,2019-03-13
380,58681,2020-12-15T11:01:52.113704+00:00,None,"POLYGON ((460793.279 94000.000, 460797.466 939...",6219403,7000,2019-02-21
381,58695,2020-12-15T11:01:52.113704+00:00,None,"POLYGON ((461750.000 98434.292, 461750.000 984...",6219602,7000,2019-03-20
382,58759,2020-12-15T11:01:52.113704+00:00,None,"POLYGON ((463628.912 97501.218, 463636.859 975...",6215237,7000,2019-03-20
383,58779,2020-12-15T11:01:52.113704+00:00,None,"POLYGON ((462450.205 94000.000, 462457.333 940...",6213419,7000,2019-03-21

### Delete from a Collection

In [13]:
geodb.delete_from_collection('land_use', query="raba_id=eq.7000")

Data from land_use deleted

In [14]:
geodb.get_collection('land_use', query="raba_id=eq.7000")

Empty DataFrame
Columns: [Empty Result]
Index: []

### Updating a Collection

In [15]:
geodb.get_collection('land_use', query="raba_id=eq.1300")

,id,created_at,modified_at,geometry,raba_pid,raba_id,d_od
0,54133,2020-12-15T11:01:52.113704+00:00,None,"POLYGON ((463238.956 98792.104, 463240.676 987...",4652174,1300,2019-03-20
1,22180,2020-09-30T07:49:51.801876+00:00,2020-12-01T13:40:24.535816+00:00,"POLYGON ((460531.574 92742.682, 460526.492 927...",5957238,1300,2000-01-01
2,45722,2020-12-01T13:40:18.246639+00:00,2020-12-01T13:40:24.535816+00:00,"POLYGON ((453563.075 94486.526, 453559.758 944...",3546031,1300,2000-01-01
3,49137,2020-12-15T11:01:52.113704+00:00,None,"POLYGON ((453810.376 91150.199, 453812.552 911...",4770325,1300,2019-03-26
4,49145,2020-12-15T11:01:52.113704+00:00,None,"POLYGON ((456547.427 91543.640, 456544.255 915...",2318555,1300,2019-03-14
...,...,...,...,...,...,...,...
5365,58901,2020-12-15T11:01:52.113704+00:00,None,"POLYGON ((458247.583 99746.065, 458245.202 997...",6268059,1300,2019-03-04
5366,58902,2020-12-15T11:01:52.113704+00:00,None,"POLYGON ((461932.283 90520.703, 461931.619 905...",6263561,1300,2019-04-01
5367,58933,2020-12-15T11:01:52.113704+00:00,None,"POLYGON ((457231.170 90902.256, 457234.861 909...",6264862,1300,2019-01-05
5368,58934,2020-12-15T11:01:52.113704+00:00,None,"POLYGON ((461378.845 91124.318, 461490.224 911...",6264865,1300,2019-02-21
5369,58956,2020-12-15T11:01:52.113704+00:00,None,"POLYGON ((457450.306 97213.244, 457490.521 972...",6263915,1300,2019-01-05

In [16]:
geodb.update_collection('land_use', query="raba_id=eq.1300", values={'d_od': '2000-01-01'})

land_use updated

In [17]:
geodb.get_collection('land_use', query="raba_id=eq.1300")

,id,created_at,modified_at,geometry,raba_pid,raba_id,d_od
0,20323,2020-09-30T07:49:51.801876+00:00,2020-12-15T11:01:58.538283+00:00,"POLYGON ((462355.376 91003.570, 462362.891 910...",2324928,1300,2000-01-01
1,14019,2020-09-29T12:37:37.136218+00:00,2020-12-15T11:01:58.538283+00:00,"POLYGON ((455586.504 98506.640, 455570.758 985...",6294574,1300,2000-01-01
2,17500,2020-09-29T12:37:37.136218+00:00,2020-12-15T11:01:58.538283+00:00,"POLYGON ((454279.064 97000.000, 454277.758 969...",4684059,1300,2000-01-01
3,18687,2020-09-29T12:37:37.136218+00:00,2020-12-15T11:01:58.538283+00:00,"POLYGON ((457250.000 97350.271, 457257.420 973...",5996126,1300,2000-01-01
4,39810,2020-12-01T13:40:18.246639+00:00,2020-12-15T11:01:58.538283+00:00,"POLYGON ((453875.163 92135.129, 453856.852 921...",5989421,1300,2000-01-01
...,...,...,...,...,...,...,...
5365,58901,2020-12-15T11:01:52.113704+00:00,2020-12-15T11:01:58.538283+00:00,"POLYGON ((458247.583 99746.065, 458245.202 997...",6268059,1300,2000-01-01
5366,58902,2020-12-15T11:01:52.113704+00:00,2020-12-15T11:01:58.538283+00:00,"POLYGON ((461932.283 90520.703, 461931.619 905...",6263561,1300,2000-01-01
5367,58933,2020-12-15T11:01:52.113704+00:00,2020-12-15T11:01:58.538283+00:00,"POLYGON ((457231.170 90902.256, 457234.861 909...",6264862,1300,2000-01-01
5368,58934,2020-12-15T11:01:52.113704+00:00,2020-12-15T11:01:58.538283+00:00,"POLYGON ((461378.845 91124.318, 461490.224 911...",6264865,1300,2000-01-01
5369,58956,2020-12-15T11:01:52.113704+00:00,2020-12-15T11:01:58.538283+00:00,"POLYGON ((457450.306 97213.244, 457490.521 972...",6263915,1300,2000-01-01

### Managing Properties of a Collection

In [18]:
geodb.get_my_collections()

                                         owner      database    table_name
0                                         anja          anja            E1
1                                         anja          anja         E10a1
2                                         anja          anja         E10a2
3                                         anja          anja           E11
4                                         anja          anja           E1a
..                                         ...           ...           ...
58                                 geodb_admin      phi_week    gran_chaco
59                                 geodb_admin        public      land_use
60                                geodb_ciuser  geodb_ciuser      land_use
61  geodb_d2c4722a-cc19-4ec1-b575-0cdb6876d4a7     lpis_iacs  land_use_slo
62  geodb_d2c4722a-cc19-4ec1-b575-0cdb6876d4a7     lpis_iacs      lpis_slo

[63 rows x 3 columns]

In [19]:
geodb.get_properties('land_use')

,database,table_name,column_name,data_type
0,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,land_use,id,integer
1,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,land_use,created_at,timestamp with time zone
2,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,land_use,modified_at,timestamp with time zone
3,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,land_use,geometry,USER-DEFINED
4,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,land_use,raba_pid,double precision
5,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,land_use,raba_id,double precision
6,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,land_use,d_od,date

In [20]:
geodb.add_property('land_use', "test_prop", 'integer')

Properties added

In [21]:
geodb.get_properties('land_use')

,database,table_name,column_name,data_type
0,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,land_use,id,integer
1,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,land_use,created_at,timestamp with time zone
2,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,land_use,modified_at,timestamp with time zone
3,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,land_use,geometry,USER-DEFINED
4,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,land_use,raba_pid,double precision
5,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,land_use,raba_id,double precision
6,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,land_use,d_od,date
7,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,land_use,test_prop,integer

In [22]:
geodb.drop_property('land_use', 'test_prop')

Properties ['test_prop'] dropped from geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04_land_use

In [23]:
geodb.get_properties('land_use')

,database,table_name,column_name,data_type
0,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,land_use,id,integer
1,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,land_use,created_at,timestamp with time zone
2,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,land_use,modified_at,timestamp with time zone
3,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,land_use,geometry,USER-DEFINED
4,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,land_use,raba_pid,double precision
5,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,land_use,raba_id,double precision
6,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,land_use,d_od,date

In [24]:
geodb.add_properties('land_use', properties={'test1': 'integer', 'test2': 'date'})

Properties added

In [25]:
geodb.get_properties('land_use')

,database,table_name,column_name,data_type
0,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,land_use,id,integer
1,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,land_use,created_at,timestamp with time zone
2,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,land_use,modified_at,timestamp with time zone
3,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,land_use,geometry,USER-DEFINED
4,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,land_use,raba_pid,double precision
5,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,land_use,raba_id,double precision
6,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,land_use,d_od,date
7,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,land_use,test1,integer
8,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,land_use,test2,date

In [26]:
geodb.drop_properties('land_use', properties=['test1', 'test2'])

Properties ['test1', 'test2'] dropped from geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04_land_use

In [27]:
geodb.get_properties('land_use')

,database,table_name,column_name,data_type
0,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,land_use,id,integer
1,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,land_use,created_at,timestamp with time zone
2,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,land_use,modified_at,timestamp with time zone
3,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,land_use,geometry,USER-DEFINED
4,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,land_use,raba_pid,double precision
5,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,land_use,raba_id,double precision
6,geodb_418dfeac-15f0-4606-9edb-fd9eb722bf04,land_use,d_od,date

In [28]:
#geodb.drop_collection('land_use')